<div class="container" *ngIf="view">
  <h1 style="color:peru;">{{message}}</h1>
  <h4>{{months[month]}} {{year}}</h4>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr class="text-center">
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let week of weeks; let i=index">
      <td
        [ngClass]="{'cell' : true, 'date' : cDate === day.date && cMonth === month && cYear === year, 'sun' : j === 0, 'sat' : j === 6}"
        *ngFor="let day of week; let j=index"
      >
        {{day.date}}
      </td>
    </tr>
  </tbody>
</table>
</div>