<div class="container" *ngIf="view">
  <h1 style="color:green;">{{message}}</h1>
  <h1 style="color:fuchsia;">{{day.date}}</h1>
    <h4>{{months[month]}} {{year}}</h4>
    
    <button type="button" class="btn btn-sm btn-success" (click)="previousWeek()"> << </button>
    <button type="button" class="btn btn-sm btn-success" (click)="nextWeek()"> >> </button>
    
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr class="text-center">
        <th *ngFor="let day of cWeek; let i=index" class="week-header">
          {{days[i]}}  {{day.date}}/{{month+1}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td
          [ngClass]="{'cell' : true, 'date' : cDate === day.date && cMonth === month && cYear === year, 'sun' : i === 0, 'sat' : i === 6}"
          *ngFor="let day of cWeek; let i=index"
        >
          {{day.date}}
        </td>
      </tr>
    </tbody>
  </table>
  </div>