.date{
    background-color: coral;
}

.cell{
    padding-left:4px;
    padding-top:0px;
    padding-bottom:100px;
}

.sun{
    background-color: olivedrab;
}

.sat{
    background-color: olivedrab;
}

.week-header{
    font-size:12px;
    padding:0;
}