<div class="container" *ngIf="view">
  <h1 style="color:red;">{{message}}</h1>
  <h4>{{months[month]}} {{year}}</h4>
  
  <button type="button" class="btn btn-sm btn-success" (click)="previousDay();changeDayForWeek();"> << </button>
  <button type="button" class="btn btn-sm btn-success" (click)="nextDay();changeDayForWeek();"> >> </button>
  
  <div class="card" style="width:100%">
    <div class="card-header text-center day-header">{{days[selectedDate.dayName]}}  {{selectedDate.date}} , {{months[month]}} , {{year}}</div>
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
    </div>
  </div>

</div>