
<div class="container">
  <h1 style="color:greenyellow;" (click)="changeIt()" >{{message}}</h1>
  <div class="row">
    <div class="col-lg-1 col-sm-1">
      <button class="btn btn-info btn-sm" (click)="previousMonth()">previous</button>
    </div>
    <div class="col-lg-1 col-sm-1">
      <button class="btn btn-info btn-sm" (click)="nextMonth()">next</button>
    </div>
  
    <div class="col-lg-1 col-sm-1">
      <button class="btn btn-warning btn-sm" (click)="switchView('m')">Month</button>
    </div>
    <div class="col-lg-1 col-sm-1">
      <button class="btn btn-warning btn-sm" (click)="switchView('w')">Week</button>
    </div>
    <div class="col-lg-1 col-sm-1">
      <button class="btn btn-warning btn-sm" (click)="switchView('d')">Day</button>
    </div>
    
    <div class="col-lg-3 col-sm-3">
      <div class="form-group">
        <label for="">Year</label>
        <select class="form-control form-control-sm" name="" [(ngModel)]="year" (change)="changeYearMonthWeek()">
          <option *ngFor="let one of years" [value]="one">{{one}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3">
      <div class="form-group">
        <label for="">Month</label>
        <select class="form-control form-control-sm" name="" [(ngModel)]="month" (change)="changeYearMonthWeek()">
          <option *ngFor="let mon of months; let m=index" [value]="m">{{mon}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="weekView;else monthComponent">
  <app-week-view
    [year]="year"
    [month]="month"
    [months]="months"
    [days]="days"
    [dayNum]="dayNum"
    [weeks]="weeks"
    (nextWeekEvent)="nextMonth()"
    (previousWeekEvent)="previousMonth()"
  ></app-week-view>
</div>

<ng-template #monthComponent>
  <app-month-view
  [year]="year"
  [month]="month"
  [months]="months"
  [days]="days"
  [dayNum]="dayNum"
  [weeks]="weeks"
  ></app-month-view>
</ng-template> -->

<app-day-view
  [view]="dayView"
  [year]="year"
  [month]="month"
  [months]="months"
  [days]="days"
  [dayNum]="dayNum"
  [weeks]="weeks"
  (nextMonthEvent)="nextMonth();"
  (previousMonthEvent)="previousMonth();"
></app-day-view>

<app-week-view
  [view]="weekView"
  [year]="year"
  [month]="month"
  [months]="months"
  [days]="days"
  [dayNum]="dayNum"
  [weeks]="weeks"
  (nextWeekEvent)="nextMonth();"
  (previousWeekEvent)="previousMonth()"
></app-week-view>
<app-month-view
  [view]="monthView"
  [year]="year"
  [month]="month"
  [months]="months"
  [days]="days"
  [dayNum]="dayNum"
  [weeks]="weeks"
></app-month-view>

